
// Variables :
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-back-1: #f6f6f6;

// Mixins :
@mixin btn {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 15px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 40px;
    background: linear-gradient(170deg,$color-secondary, $color-primary);
    width: 55%;
    border: none;
    box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.20);
    filter: brightness(100%);
    transition: box-shadow 100ms, filter 130ms;
    &:hover {
        box-shadow: 0px 7px 20px 10px rgba(0, 0, 0, 0.20); 
        filter: brightness(120%);
    }   
}

@mixin btn_new{
    display: block;
    background-color: $color-tertiary;
    color: darken($color-tertiary, $amount: 40);
    width: 25%;
    height: 20%;
    border-radius: 5px;
    text-align: center;
    line-height: 38px;
}

a
{
    text-decoration:none;
}

h2
{
    font-size: 1.6em;
    font-weight: 700;
}

h3{
    font-size: 1em;
    font-weight: 700;
    margin : 10px;
    margin-bottom: 4px;
    
}

p
{
    font-size: 0.9em;
    font-weight: 200;
    margin : 10px;
    margin-top: 0;
}

body
{
    max-width: 375px;


    font-family: 'Roboto', sans-serif;
}

header
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    box-shadow:  0px 4px 2px rgba(51, 51, 51, 0.43);
    position: relative;
    z-index: 50;
}

img
{
    width: 45%;
}

.explorer
{
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: 49;
    text-align: center;
    background-color: $color-back-1;
    height: 335px;
    
    &__btn
    {
        @include btn;
    }
    
    h2
    {
        padding-top: 20px;
        margin-bottom: -6px;
        padding-right: 42px;
        padding-left: 42px;
    }
    p
    {
        padding-bottom: 10px;
    }

}

.location
{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-back-1;
    color : #353535;
    &__icon
    {
        font-size: 1em;
        padding-right: 20px;
    }
    &__text
    {

        font-size: 1em;
        font-weight: 600;
    }
}

.manual
{
    height: 440px;

    h2
    {
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 5px;
    }

    ol
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin-left: 0;
        padding-left:0;

        
    }
    li
    {
        display: flex;
        align-items: center;
        width: 90%;
        height: 76px;
        background-color: $color-back-1;
        box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.20);
        border-radius: 30px;
        margin-bottom: 20px; 

        &:last-child
        {
            .manual__icon
            {
                color: $color-primary;
            }
            background-color: #f5edff;
        }
    }
    &__number
    {
        text-align: center;
        width: 25px;
        height: 25px;
        margin-left: -13px;

        font-size: 0.9em;
        line-height: 1.8em;
        font-weight: 500;
        color: white;
        background-color: $color-primary;
        border-radius: 30px;
    }
    &__icon
    {
        padding-left: 30px;
        font-size: 1.2em;
        color: #7e7e7e;
    }
    &__text
    {
        text-align: center;
        padding-left: 30px;
        font-size: 1em;
        font-weight: 550;
    } 
}

.restaurants
{
    h2
    {
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 5px;
    }
}

.cards-restaurants
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-restaurant
{   
    display: block;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.20);
    margin-bottom: 40px;
    &__container-info {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25%;
        &__hearth{
            display: block;
            font-size: 1.8em;
            padding-right: 20px;
            position: relative;
            width: 40px;
            height: 40px;

            .far-heart{
                display: block;
                
            }

            .far{
                position: absolute;
                bottom: 0;
            }

            .fas{
                background: linear-gradient(170deg,$color-secondary, $color-primary);
                background-clip: text;
                color: transparent;
            }

            &__cube-test{
                position: absolute;
                bottom: 0;
                box-sizing: content-box;
                display: block;
                width: 40px;
                height: 40px;
                overflow: hidden;
                transition: height 1000ms;
                &:hover{
                    height: 0px;
                }
            }

          
        }
        &__description{
            display: block;
        }
    }
    &__image
    {
        display: block;
        display: flex;
        justify-content: flex-end;
        background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        background-size: cover;
        width: 100%;
        height: 75%;
        border-radius: 20px 20px 0 0;
        &__new{
            @include btn_new;
            margin: 10px 10px 0 0;
        }
    }
}



