* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.6em;
  font-weight: 700;
}

h3 {
  font-size: 1em;
  font-weight: 700;
  margin: 10px;
  margin-bottom: 4px;
}

p {
  font-size: 0.9em;
  font-weight: 200;
  margin: 10px;
  margin-top: 0;
}

body {
  max-width: 375px;
  font-family: "Roboto", sans-serif;
}

.hearth {
  display: block;
  font-size: 1.8em;
  padding-right: 20px;
  position: relative;
  width: 40px;
  height: 40px;
}
.hearth .far-heart {
  display: block;
}
.hearth .far {
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.hearth .far:hover + .cube-test {
  height: 40px;
}
.hearth .fas {
  z-index: 1;
  background: linear-gradient(70deg, #FF79DA, #9356DC);
  background-clip: text;
  color: transparent;
}
.hearth .cube-test {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 0px;
  overflow: hidden;
  transition: height 1000ms;
}
.hearth .cube-test:hover {
  height: 40px;
}

footer {
  color: white;
  background: #353535;
  padding: 25px;
}
footer ul {
  list-style: none;
}
footer ul li {
  padding-bottom: 10px;
  display: flex;
}
footer ul i {
  display: block;
  width: 30px;
}
footer ul a {
  display: block;
  color: white;
  text-decoration: none;
  font-style: normal;
}

.logo-white {
  display: block;
  background-image: url("../../images/logo/ohmyfood.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  width: 100px;
  height: 20px;
  filter: invert(1);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  box-shadow: 0px 4px 2px rgba(51, 51, 51, 0.43);
  position: relative;
  z-index: 50;
}

.loader {
  position: absolute;
  z-index: 60;
  height: 2400px;
  max-width: 375px;
  width: 100%;
  background: linear-gradient(85deg, #FF79DA, #9356DC);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation: loader-back 1s 3s ease-out forwards;
}
.loader__logo {
  background-image: url("../../images/logo/ohmyfood.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 60%;
  height: 30px;
  filter: invert(1);
  margin-top: 30px;
  margin-bottom: 350px;
}
.loader__animation {
  display: flex;
  font-size: 3em;
  animation: loader 1.5s linear infinite;
}
.loader__animation__pepper--1 {
  animation-delay: 0.2s;
}
.loader__animation__pepper--2 {
  animation-delay: 0.4s;
}
.loader__animation__pepper--3 {
  animation-delay: 0.6s;
}

@keyframes loader-back {
  0% {
    opacity: 1;
    scale: 1;
  }
  99% {
    opacity: 0;
    scale: 1;
  }
  100% {
    scale: 0;
  }
}
@keyframes loader {
  0% {
    color: white;
    text-shadow: 0 0 7px white;
  }
  90% {
    color: #e4e4e4;
    text-shadow: none;
  }
  100% {
    color: white;
    text-shadow: 0 0 7px white;
  }
}
img {
  width: 45%;
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 49;
  text-align: center;
  background-color: #f6f6f6;
  height: 335px;
}
.explorer p {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 1.2em;
}
.explorer__btn {
  display: block;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 15px;
  font-size: 1em;
  font-weight: 600;
  border-radius: 40px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  width: 55%;
  border: none;
  box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.2);
  filter: brightness(100%);
  transition: box-shadow 800ms, filter 1100ms;
}
.explorer__btn:hover {
  box-shadow: 0px 7px 20px 10px rgba(0, 0, 0, 0.2);
  filter: brightness(120%);
}
.explorer h2 {
  padding-top: 20px;
  margin-bottom: -6px;
  padding-right: 42px;
  padding-left: 42px;
}
.explorer p {
  padding-bottom: 10px;
}

.location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  color: #353535;
  width: 100%;
}
.location__icon {
  font-size: 1em;
  padding-right: 20px;
}
.location__text {
  font-size: 1em;
  font-weight: 600;
}

.manual {
  height: 440px;
}
.manual h2 {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 5px;
}
.manual ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.manual li {
  display: flex;
  align-items: center;
  width: 90%;
  height: 76px;
  background-color: #f6f6f6;
  box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  margin-bottom: 20px;
}
.manual li:last-child {
  background-color: #f5edff;
}
.manual li:last-child .manual__icon {
  color: #9356DC;
}
.manual__number {
  text-align: center;
  width: 25px;
  height: 25px;
  margin-left: -13px;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
  color: white;
  background-color: #9356DC;
  border-radius: 30px;
}
.manual__icon {
  padding-left: 30px;
  font-size: 1.2em;
  color: #7e7e7e;
}
.manual__text {
  text-align: center;
  padding-left: 30px;
  font-size: 1em;
  font-weight: 550;
}

.restaurants h2 {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 5px;
}

.cards-restaurants {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-restaurant {
  display: block;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}
.card-restaurant__container-info {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
}
.card-restaurant__description {
  display: block;
}
.card-restaurant__image {
  display: block;
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  width: 100%;
  height: 75%;
  border-radius: 20px 20px 0 0;
}
.card-restaurant__image__new {
  display: block;
  background-color: #99E2D0;
  color: #278870;
  width: 25%;
  height: 20%;
  border-radius: 5px;
  text-align: center;
  line-height: 38px;
  margin: 10px 10px 0 0;
}

@keyframes opem-menu {
  0% {
    opacity: 0;
    transform: translate(0, 1em);
  }
  100% {
    opacity: 1;
  }
}
.image-a-la-francaise {
  background-image: url("../../images/restaurants/a-la-francaise.jpg");
  background-size: cover;
  width: 100%;
  height: 270px;
  z-index: 1;
}

.image-la-note-enchantee {
  background-image: url("../../images/restaurants/la-note-enchantee.jpg");
  background-size: cover;
  width: 100%;
  height: 270px;
  z-index: 1;
}

.image-la-palette-du-gout {
  background-image: url("../../images/restaurants/la-palette-du-gout.jpg");
  background-size: cover;
  width: 100%;
  height: 270px;
  z-index: 1;
}

.image-le-delice-des-sens {
  background-image: url("../../images/restaurants/le-delice-des-sens.jpg");
  background-size: cover;
  width: 100%;
  height: 270px;
  z-index: 1;
}

.cards-menu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-menu__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  border-radius: 55px 55px 0 0;
  margin-top: -55px;
  background-color: #f6f6f6;
  width: 100%;
}
.cards-menu__name h1 {
  display: block;
  height: 100px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 120px;
  padding-left: 20px;
}
.cards-menu__btn-menu {
  display: block;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 15px;
  font-size: 1em;
  font-weight: 600;
  border-radius: 40px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  width: 55%;
  border: none;
  box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.2);
  filter: brightness(100%);
  transition: box-shadow 800ms, filter 1100ms;
  margin: 30px 0 80px 0;
}
.cards-menu__btn-menu:hover {
  box-shadow: 0px 7px 20px 10px rgba(0, 0, 0, 0.2);
  filter: brightness(120%);
}

.card-menu {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.card-menu h2 {
  display: block;
  font-weight: 400;
  font-size: 1.1em;
  width: 93%;
  margin-bottom: 30px;
}
.card-menu ol {
  list-style: none;
  width: 93%;
}
.card-menu ol li {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  border-radius: 20px;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  animation-fill-mode: backwards;
}
.card-menu ol h3 {
  display: block;
  width: 100%;
  margin-bottom: -5px;
}
.card-menu ol p {
  display: block;
}
.card-menu ol .price {
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #353535;
}

.anime-line--1 {
  animation: opem-menu 3000ms;
  transform-origin: 0% 100%;
  animation-delay: 200ms;
}
.anime-line--2 {
  animation: opem-menu 3000ms;
  transform-origin: 0% 100%;
  animation-delay: 400ms;
}
.anime-line--3 {
  animation: opem-menu 3000ms;
  transform-origin: 0% 100%;
  animation-delay: 600ms;
}
.anime-line--4 {
  animation: opem-menu 3000ms;
  transform-origin: 0% 100%;
  animation-delay: 800ms;
}

/*# sourceMappingURL=style.css.map */
