*{
    margin : 0;
    padding: 0;
}

a
{
    text-decoration:none;
}

h2
{
    font-size: 1.6em;
    font-weight: 700;
}

h3{
    font-size: 1em;
    font-weight: 700;
    margin : 10px;
    margin-bottom: 4px;
    
}

p
{
    font-size: 0.9em;
    font-weight: 200;
    margin : 10px;
    margin-top: 0;
}

body
{
    max-width: 375px;
    

    font-family: 'Roboto', sans-serif;
}
