*{
    margin : 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

a
{
    color: black;
    text-decoration:none;
    font-style: normal;
}

h2
{
    font-size: 1.6em;
    font-weight: 700;
}

h3{
    font-size: 1em;
    font-weight: 700;
    margin : 10px;
    margin-bottom: 4px;
    
}

p
{
    font-size: 0.9em;
    font-weight: 200;
    margin : 10px;
    margin-top: 0;
}

.size-max{
    max-width: 1200px;
    min-width: 230px;
    width: 100%;  
    @include desktop-only{    
        margin-left: auto;
        margin-right: auto;
    }  
}

.general_container
{   
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
