
//Loader
.loader
{
    
    
    z-index: 60;
    height: 100%;
    width: 100%;
    position: fixed;
    background: linear-gradient(170deg,$color-secondary, $color-primary); //remettre 170 si js ok
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    margin: 0;

    
    animation: loader-back 1s 3s ease-out both;

    &__logo
    {
        
        background-image: url("../../../images/logo/ohmyfood.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 60%;
        height: 30px;
        filter: invert(1);

        margin-top : 30px;
        margin-bottom: 350px;    
    }
    
    &__animation
    {
        
        display: flex;
      
        &__pepper{
            color: white;
            font-size: 1.8em;
            animation: loader 1.5s linear infinite;
        }

        &__pepper--1{
            animation-delay: 0.2s;
        }

        &__pepper--2{
            animation-delay: 0.4s;
        }

        &__pepper--3{
            animation-delay: 0.6s;

        }
    }
}

@keyframes loader-back{
    0% {
        opacity: 1;
        

    }

    99% {
        opacity: 0;
        
    }

    100%{
        
        opacity: 0;
        z-index: -1;
    }
}

@keyframes loader{
    0% {
        color: white;
        text-shadow: 0 0 7px white;
    }

    90% {
        color: rgb(228, 228, 228);;
        text-shadow: none;
    }

    100%{
        color: white;
        text-shadow: 0 0 7px white;
    }
}



//Index page
img
{
    width: 45%;
    @include desktop-only{
        width: 25%;
    }
}

.explorer
{
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: 49;
    text-align: center;
    background-color: $color-back-1;
    height: 335px;

    & p{
        margin-top: 25px;
        margin-bottom: 20px ;
        font-size: 1.2em;
    }
    
    &__btn
    {
        @include btn;
    }
    
    h2
    {
        padding-top: 20px;
        margin-bottom: -6px;
        padding-right: 42px;
        padding-left: 42px;
    }
    p
    {
        padding-bottom: 10px;
    }

}

.location
{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    color : #353535;
    width: 100%;
    &__icon
    {
        font-size: 1em;
        padding-right: 20px;
    }
    &__text
    {

        font-size: 1em;
        font-weight: 600;
    }
}

.container-manual{
    @include desktop-only{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    @include tablette_only{
        display: flex;
        justify-content: center;
        width: 100%;
    }

}
.manual
{
    height: 440px;
    @include desktop-only{
        height: 180px;
    }

    h2
    {
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 5px;
    }

    ol
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin-left: 0;
        padding-left:0;

        @include desktop-only{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 95%;
        }

        @include tablette_only{
            width: 75%;
        }

        
    }
    li
    {
        display: flex;
        align-items: center;
        width: 90%;
        height: 76px;
        background-color: $color-back-1;
        box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.20);
        border-radius: 30px;
        margin-bottom: 20px;
        @include desktop-only{
            display: flex;
            width: 30%;
        } 

        &:last-child
        {
            .manual__icon
            {
                color: $color-primary;
            }
            background-color: #f5edff;
        }
    }
    &__number
    {
        text-align: center;
        width: 25px;
        height: 25px;
        margin-left: -13px;

        font-size: 0.9em;
        line-height: 1.8em;
        font-weight: 500;
        color: white;
        background-color: $color-primary;
        border-radius: 30px;
    }
    &__icon
    {
        padding-left: 30px;
        font-size: 1.2em;
        color: #7e7e7e;
    }
    &__text
    {
        text-align: center;
        padding-left: 30px;
        font-size: 1em;
        font-weight: 500;
    } 
}


.restaurants
{
    h2
    {
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 5px;
    }
}

.cards-restaurants
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop-only{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
}

.card-restaurant
{   
    display: block;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.20);
    margin-bottom: 40px;
    @include desktop-only{
        width: 40%;
    }
    @media (min-width: 778px) and (max-width : 1199px){
        width: 65%;
    }
    &__container-info {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25%; 
        }
        &__description{
            display: block;
        }
    
    &__image
    {
        display: block;
        display: flex;
        justify-content: flex-end;
        background-size: cover;
        width: 100%;
        height: 75%;
        border-radius: 20px 20px 0 0;
        &__new{
            @include btn_new;
            margin: 10px 10px 0 0;
        }
    }
}