//Keyframes
@keyframes opem-menu{
    0% {
        opacity: 0;
        transform: translate(0, 1em);
    }
    100% {
        opacity: 1;
    }
}

//Images
@each $image in $images{
    .image-#{$image}{
        background-image: url("../../../images/restaurants/#{$image}.jpg");
        background-size: cover;
        width: 100%;
        height: 270px;
        z-index: 1;
    }
}


//Cards
.cards-menu{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name{
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        border-radius: 55px 55px 0 0;
        margin-top: -55px;
        background-color: $color-back-1;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        & h1{
            
            display: block;
            height: 100px;
            font-family: 'Shrikhand', cursive;
            font-weight: 400;
            font-size: 1.8em;
            line-height: 120px;
            padding-left: 20px;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    &__btn-menu{
        @include btn;
        margin: 30px 0 80px 0;
    }
}

//Card
.card-menu{
    width: 100%;
    background-color: $color-back-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    & h2{
        display: block; 
        font-weight: 400;
        font-size: 1.1em;
        width: 93%;
        margin-bottom: 5px; 
    }

    &__underline-box{
        width: 93%;
        height: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        &__underline{
            display: block; 
            width: 40px;
            height: 4px;
            background-color: $color-tertiary;
            border: none;
        }

    }

    & ol{
        list-style:none;
        width: 93%;
        & li{
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 70px;
            border-radius: 20px;
            box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
            margin-bottom: 10px;
            animation-fill-mode: backwards;
            overflow: hidden;


            &:hover {

                & > .box-select{
                    transform: scale(1);
                    // animation: 0.8s ease-in 1 forwards select;
                    // animation-fill-mode: both;
                   
                    width: 72px;
                    & > .box-select__cercle{
                    animation: 0.8s ease-in 1 forwards alternate-reverse v-rotate;
                    }
                }
            }

            
            & h3{
                display: block;
                width: 100%;
                
                
                
            }
            & p{
                display: block; 
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
    
            }
            & .price{
                margin-right: 20px;
                margin-top: 25px;
                font-family: 'Roboto', sans-serif;
                font-size: 1em;
                font-weight: 600;
                color: #353535;
            }
        }
    }
}

.text-menu{
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
}

.anime-line{
    @for $i from 1 through 4 {
        &--#{$i} {
            animation: opem-menu $anim-dur;
            transform-origin: 0% 100%;
            animation-delay: $anim-delay * $i;
         }
    } 
}

.box-select{ 
    
    width: 0px;
    height: 70px;
    background-color: $color-tertiary;
    // transform: translateX(70px);
    transition: width 330ms ease-in-out;
    
 
    display: flex;
    justify-content: center;
    align-items: center;


    &__cercle{
        color: white;
        font-size: 2em;
    }
}

@keyframes select{
    0% {
        transform: translateX(0px)
    }

    100%{
        transform: translateX(70px)
    }
}

@keyframes v-rotate{
    0% {
        transform: rotate(0turn)
    }

    100%{
        transform: rotate(-2turn)
    }
}